<% @users.each do |user| %>
  <div class="all_users">
    <%= link_to "#{user.full_name}", user_url(user.id) %>
    <%= ", #{user.title}" %>
  </div>
<% end %>

<div class="new_user_link">
  <%= link_to "Create a new user", new_user_url %>
</div>
